/* Page */
html {
    scroll-behavior: smooth;
}
/* Navbar */
.navbar-menu{
    justify-content: center;
}


/* Profile */
@media only screen and (min-width: 1088px) {
    #profile .container {
        text-align: center;
    }
    
    .image.is-128x128{
        height: 233px;
        width: 233px;
        margin-bottom: 100px;
    }
    
    #profile .container figure {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    div.hero-body{
        padding-bottom: 1rem ;
    }
}


/* Modal */
.slideshowButton{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

#modal-card-desc-container{
    max-width: 100%;
}

#modal-card-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:auto;
}
.modal-card, .modal-content{
    width: 800px;
}

#modal-section{
    padding: 2em 1em;
    text-align: center;
}

footer.modal-card-foot{
    justify-content: center;
}

/* Overlay for Projec tiles */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.3);
}

.card-image:hover .overlay {
    opacity: 1;
}

.tile-icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fa-search-plus:hover {
    color: #eee;
}

#contact{
    margin-top: 3rem;
}

/* red: #e06c75 */
/* blue: #61afef */
/* black: 282c34 */